# Python cache (Python will generate these automatically)
__pycache__/
*.pyc
*.pyo

# Virtual environment (if anyone creates a virtual environment, it must stay local)
venv/
.env/
.venv/

# OS files (created randomly by macOS and Windows. they're useless)
.DS_Store
Thumbs.db
desktop.ini

# Editor settings
.vscode/
.idea/

# Logs (if programs prints logs, they shouldn't be committed)
*.log

# Database file (temporarily)
db/budget.db
*.db

#html files 
htmlcov/