{% extends "base.html" %}
{% block content %}


<div class="login-container">
    <form class="login-box">
        <h1>Login</h1>







        <div class="option-group">
    <label>
        <input type ="checkbox"> remember me
    </label>
    <a href="#">forgot password?   </a>
</div>

<button type="submit" class="login-button">Login </button>

<p class="register-text">Don't have an account? <a href="#">Register</a>
</p>
    </form>
</div>>  









</div>


<p>Login page placeholder.</p>


{% endblock %}

